<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/static/favicon.ico}"/>

    <!-- Froala CSS CDN. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" id="bootstrap-css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Froala JS CDN. -->
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>

  </head>
  <body th:fragment="header">
    <div id="app" class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h3 class="navbar-brand" href="/">E-Posts</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
            <li id="homePage" class="nav-item">
              <a class="nav-link" href="/posts">Home</a>
            </li>
            <li id="acctSettings" class="nav-item">
              <a class="nav-link" href="/acctsettings">Acct. Settings</a>
            </li>

          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <form id="mysignoutform" method="post", action="/signoff">
                <input type="hidden" name="name"/>
                <a class="nav-link" href="#" onclick="document.getElementById('mysignoutform').submit()">Sign Out</a>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      <script>
        //make sure to edit this when adding new links to alter the "active" mechanic
        var path = window.location.pathname;
        var homelink = document.getElementById("homePage");
        var acctSet = document.getElementById("acctSettings");

        if (path === "/posts") {
          homelink.classList.add("active");
          acctSet.classList.remove("active");
        } else if (path === "/acctsettings") {
          homelink.classList.remove("active");
          acctSet.classList.add("active");
        }
      </script>
    </div>
  </body>
</html>