<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="decorator/layout">
<html lang="en">
<head>
    <title>Account Settings</title>
</head>
    <body>
        <div layout:fragment="content">
            <style>
                input {
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: 16px 18px;
                    background-position: 98% 50%;
                    cursor: auto;
                }
            </style>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-3"></div> <!--used for spacing-->
                    <div class="col-sm-12 col-md-8 col-lg-6">
                        <th:block th:if="${updated} == 1">
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <P>Profile updated successfully!</P>
                            </div>
                        </th:block>
                        <form action="#" th:action="@{/acctsettings}" th:object="${userInfo}" method="post" style="text-align: center">
                            <fieldset>
                                <legend>Update Profile</legend>
                                <div class="form-group">
                                    <fieldset disabled="">
                                        <label for="field1">E-Mail</label>
                                        <input type="text" class="form-control" id="field1" disabled="" th:field="*{email}">
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <label for="field2">User Name</label>
                                    <input type="text" class="form-control" id="field2" placeholder="Enter User Name" th:field="*{user_name}">
                                </div>
                                <div class="form-group">
                                    <label for="field3">First Name</label>
                                    <input type="text" class="form-control" id="field3" placeholder="Enter First Name" th:field="*{first_name}">
                                </div>
                                <div class="form-group">
                                    <label for="field4">Last Name</label>
                                    <input type="text" class="form-control" id="field4" placeholder="Enter Last Name" th:field="*{last_name}">
                                </div>
                                <div class="form-group">
                                    <a th:href="'/resetpassword?email=' + ${userInfo.getEmail()}" id="field5" class="btn btn-danger" role="button">Reset Password</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-2 col-lg-3"></div> <!--used for spacing-->
                </div>
            </div>
        </div>
    </body>
</html>