<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="decorator/layout">
<head>
    <title>Please Login</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h3 style="color:#375a7f">Please sign in!</h3>
                </div>

                <!-- Login Form -->
                <form action="#" th:action="@{/login}" th:object="${userInput}" method="post">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-Mail" th:field="*{email}">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" th:field="*{password}">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <th:block th:if="${userInput.emailValid} == false">
                    <div class="container alert alert-success fadeIn fifth">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <p style="text-align: center; color: black">This E-Mail doesn't exist.<br/>Would you like to Sign up?</p>
                            </div>
                            <a href="/signup" type="button" class="btn btn-primary col-sm-4 col-md-4 col-lg-4">Sign Up</a>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${userInput.passwordValid} == false">
                    <div class="alert alert-dismissible alert-danger fadeIn sixth">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p><b><u>Password</u></b> is incorrect! Please Try again.</p>
                    </div>
                </th:block>

                <div id="formFooter">
                    <a class="underlineHover" href="/passresetemail">Forgot Password?</a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>