<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="decorator/layout">
    <head>
        <link th:href="@{/css/mainpage.css}" type="text/css" rel="stylesheet"/>
        <title>E-Posts</title>
    </head>
<body>
    <div layout:fragment="content">
        <br/>
        <h3>Post something for the world to know!</h3>
        <textarea name = "froala-editor" id="froala-editor"></textarea>
        <br/>
        <button type="button" class="btn btn-primary btn-lg" id="saveButton">Submit Post</button>
        <button type="button" class="btn btn-primary btn-lg" id="clearButton">Clear</button>

        <hr style="border-width: 8px; background-color: deepskyblue"/>

        <th:block th:each="post: ${posts}">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header" th:text="'User: ' + ${post.getUserInfo().getUser_name()} + ' @ ' + ${post.getFormatedDateTime()}"></div>                <div class="card-body">
                    <th:block th:remove="tag" th:utext="${post.getPost()}"></th:block>
                </div>
            </div>
        </th:block>

        <script>
        var editor = new FroalaEditor('#froala-editor', {
            //HTML Params
            saveInterval: 0,
            saveParam: 'htmlinput',
            saveURL: '/posts',
            saveMethod: 'POST',

            //Image Params
            imageUploadParam: 'mediafile',
            imageUploadURL: '/file',
            imageUploadMethod: 'POST',
            imageMaxSize: 30 * 1024 * 1024,

            //Video Params
            videoUploadParam: 'mediafile',
            videoUploadURL: '/file',
            videoUploadMethod: 'POST',
            videoMaxSize: 50 * 1024 * 1024,

            fileUpload: false,

            events: {
                /*
                'save.before': function () {
                    // Before save request is made.
                },

                'save.after': function () {
                    // After successfully save request.
                },

                'save.error': function () {
                    // Do something here.
                }

                 */
            }
        })

        document.querySelector('#saveButton').addEventListener("click", function () {
            editor.save.save();
            alert("your post was successfull. Reloading page.");
            window.location.href = '/posts';
        });
        document.querySelector('#clearButton').addEventListener("click", function () {
            editor.html.set('');
        });
    </script>
</div>
</body>
</html>