<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="decorator/layout">
<html lang="en">
    <head>
    <title>Password Reset</title>
</head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-3"></div> <!--used for spacing-->
                    <div class="col-sm-12 col-md-8 col-lg-6">
                        <form action="#" th:action="@{/resetpassword}" th:object="${passInput}" method="post" style="text-align: center">
                            <fieldset>
                                <legend>Password Reset</legend>
                                <div class="form-group row">
                                    <h5 th:text="'E-mail: ' + ${email}"></h5>
                                </div>
                                <div class="form-group">
                                    <label for="examplepass1">Password</label>
                                    <input type="password" class="form-control" id="examplepass1" aria-describedby="emailHelp" placeholder="Enter password" th:field="*{password1}" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                </div>
                                <div class="form-group">
                                    <label for="examplepass2">Re-Enter Password</label>
                                    <input type="password" class="form-control" id="examplepass2" aria-describedby="emailHelp" placeholder="Re-Enter password" th:field="*{password2}" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                </div>
                                <th:block th:if="${passInput.isEvaluatePass()}">
                                    <th:block th:if="${passInput.passwordsMatch()} == false">
                                        <div class="alert alert-dismissible alert-danger">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <p>Password <strong>do not </strong>match. <u>Please try again!</u></p>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${passInput.passwordsMatch()} == true">
                                        <script>
                                            alert("Your password was updated SUCCESSFULLY! :)");
                                            window.location.href = '/posts';
                                        </script>
                                    </th:block>
                                </th:block>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <br/>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-2 col-lg-3"></div> <!--used for spacing-->
                </div>
            </div>
        </div>
    </body>
</html>